<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Italianno&family=Puppies+Play&display=swap" rel="stylesheet"> 
    <link href="/style.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>The Pageant of the Shearmen and Tailors - Performed by The Playgroup</title>

    <meta name="description" content="A modern day recording of the music of The Pageant of the Shearmen and Tailors, a 16th century Mystery Play from Coventry">
    <!--<meta name="image" content="/header.png">-->

    <meta itemprop="name" content="The Pageant of the Shearmen and Tailors">
    <meta itemprop="description" content="A modern day recording of the music of The Pageant of the Shearmen and Tailors, a 16th century Mystery Play from Coventry">
    <!--<meta itemprop="image" content="/header.png">-->

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="The Pageant of the Shearmen and Tailors">
    <meta name="twitter:description" content="A modern day recording of the music of The Pageant of the Shearmen and Tailors, a 16th century Mystery Play from Coventry">
    <!--<meta name="twitter:image:src" content="/header.png">-->

    <meta name="og:title" content="The Pageant of the Shearmen and Tailors">
    <meta name="og:description" content="A modern day recording of the music of The Pageant of the Shearmen and Tailors, a 16th century Mystery Play from Coventry">
    <!--<meta name="og:image" content="/header.png">-->
    <meta name="og:url" content="https://coventry-carol.chris-alexander.co.uk">
    <meta name="og:site_name" content="The Pageant of the Shearmen and Tailors">
    <meta name="og:locale" content="en_GB">
    <meta name="og:type" content="website">

</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-1 col-sm-0"></div>
            <div class="col-lg-8 col-md-10 col-sm-12">
                <div class="card mt-3 mb-3 bg-light border rounded-3 shadow-sm">
                    <div class="card-img-top card-header text-center" style="height: 150px">
                        <span class="pageant pageant-text pageant-header">The Pageant of the Shearmen and Tailors</span>
                        <br /><span class="pageant pageant-text pageant-subheader">Performed by The Playgroup</span>
                    </div>
                    <div class="p-3 pt-1">
                        <p>The Coventry Carol has always been a favourite carol of ours (well, one of us), and after some research it turns out it is actually from a medieval "mystery play" performed in Coventry in from the 1300's to the 1500's.</p>
                        <p>This particular "mystery play" was called The Pageant of the Shearmen and Tailors, and we have transcribed the music and performed it on modern brass instruments.</p>
                        <p>You can listen below with the YouTube video, and read some more about the Pageant too.</p>
                    </div>
                    <div class="p-3 text-center">
                        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/IVI5YrUkHM4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                    <div class="p-3">
                        <h3>The Coventry Mystery Plays</h3>
                        <p>The Coventry "mystery plays" were performed in medieval Coventry from the 1300s to the 1500s, seen by royalty and perhaps even Shakespeare.</p>
                        <p>You can read more about them on <a href="https://en.wikipedia.org/wiki/Coventry_Mystery_Plays" target="_blank">Wikipedia</a>.</p>
                        <h3>The Pageant of the Shearmen and Tailors</h3>
                        <p>This music only survived at all, along with one other pageant, as a copy was made in 1534 by Robert Croo. This was destroyed by fire in 1879, but other copies had been made prior to this.</p>
                        <p>The link below includes images of the musical manuscript. It is written for treble, tenor and bass voices. It uses mensural notation ([introduction here](http://blowthyhorn.com/blog/wp-content/uploads/2015/07/white_mensural_notation.pdf)), which contains a quite frankly disturbing variety of ways a single note could be performed, based on a variety of factors.</p>
                        <p>The music you hear here is our attempt at a transcription of the music to modern notation and then performed on modern instruments. Most notably, some bars change length in Coventry Carol, the second movement. The final movement, "Downe From Heaven", appears to have some transcription issues in that the treble part for the final section is lost.</p>
                        <p>A future project may be to treat the first and third movements as Coventry Carol has since been, in that it has been updated to fit with more modern musical tastes.</p>
                        <p>You can read more history <a href="https://www.hymnsandcarolsofchristmas.com/Hymns_and_Carols/Notes_On_Carols/notes_to_the_coventry_carol.htm" target="_blank">here</a>. <a href="https://www.hymnsandcarolsofchristmas.com/Hymns_and_Carols/coventry_carol-sharp.htm" target="_blank">Further information</a>. <a href="https://www.hymnsandcarolsofchristmas.com/Hymns_and_Carols/Music/coventry_carol-music.htm" target="_blank">Modern transcription of second movement, Coventry Carol</a>.</p>
                    </div>
                    <div class="card-footer text-center small">
                        All content and audio &copy; {{ site.time | date: "%Y" }} The Playgroup, Chris and Wenni Alexander
                        <br /><span class="wenni" style="font-size: 22px">Wenni Knows Best Productions</span>
                        <br /><span class="cables">I Need More Cables Productions</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-1 col-sm-0"></div>
        </div>
    </div>
</body>
</html>
